<ion-header>
  <ion-toolbar>
    <ion-title>login do Usuario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #fc (ngSubmit)="onsubmit()fc"
<ion-item>
  <ion-labe position="floating">E-mail</ion-labe>
  <ion-input type="email" name"=email" [(ngModel)]= "email"></ion-input>
</ion-item>


<ion-item>
    <ion-labe position="floating">Senha</ion-labe>
    <ion-input type="senha" name"=senha" [(ngModel)]= "Senha"></ion-input>
  </ion-item>

  <ion-item>

      <ion-button position="submit" expand="block">Senha</ion-labe>
      <ion-button type="reset" expand"=block" colo= "danger">Cancelar</ion-button>
    </ion-item>
</ion-content>
